html, body {
	background: #f12711;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	max-width: 100%;
  	overflow-x: hidden;

}
h1 {
	text-align: center;
}
.center-margin {
	margin: 0 auto;
}
.tg  {border-collapse:collapse;border-spacing:0; margin: 0 auto;}
.tg td{font-family:Arial,  sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:none;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px; margin: 0px auto; border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:none;}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-s268{text-align:left}
.companies {
	margin-left: 17%;
	margin-right: 17%;
	width: 66%;
	height: 22%;
}
.company {
	height: 100%;
}
.height-row-adj {
	width: 100%;
	display: block;
	margin: 0 auto;

}
.side-margin {
	margin-left: 8% !important;
	margin-right: 8% !important;
	max-width: 84%;
}
.mdiv {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
@media screen and (max-width: 990px) {
	.div-2 {
		margin-top: 550px;
	}
}
.big {
	width: 100%;
	height: 500px;
	
}
.section-icon {
	margin: 0 auto;
	text-align: center;
	font-size: 8rem;
}
.scrollable {
	position: relative;
	width: 100%;
	height: 100vh;
}
.logo {
	height: 100px;
	width: 100px;
}
#nm-text {
	font-family: 'Work Sans';
	text-align: center;
}
.center-text {
	text-align: center;
	width: 100%;
}
#txt-nm-div {
	width: 100%;
	position: absolute;
	color: white;
	top: 70%;
  	left: 50%;
 	 transform: translate(-50%, -50%);
}
.header-text {
	font-family: 'Titillium Web';
	margin-left: 10%;
	margin-right: 10%;
}
table {
	width: 66%;
	margin-left: 10% !important;
	margin-right: 10%;
	height: 40vh;
	margin: 0 auto;
}

td {

	min-width: 25%;
	border-radius: 20px;
	background: black;
	font-size: 5rem;
	text-align: center !important;
	margin: 0 auto;

}
h4 {
	font-size: 5rem;
}
.light-text {
		font-family: 'Work Sans';
}
.big-margin {
	margin-top: 15%;
}
.divider {
	width: 2% !important;
	background: transparent;
}